@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../font/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../font/Bellota-BoldItalic.otf');
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}


body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
    color: #fff;
}

.settingsContainer {
    font-family: "Bellota-BoldItalic";
    padding-top: 60px;
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.settingsContainer h2 {
    color: #fff;
    margin-top: 0;
}

.settingsContainer .formSection {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.settingsContainer form input[type="text"],
.settingsContainer form input[type="email"],
.settingsContainer form input[type="password"] {
    font-family: "Bellota-LightItalic";
    width: 300px;
    height: 40px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    padding: 0 5px;
}

.settingsContainer form input[type="submit"] {
    font-family: "Bellota-LightItalic";
    background-color: limegreen;
    color: #fff;
    width: 100px;
    height: 40px;
}

.settingsContainer form input[type="submit"]:hover {
    font-family: "Bellota-BoldItalic";
    border: 1px solid white;
}

.formSection h3 {
    padding: 0;
    color: #fff;
    font-size: 20px;
}
